<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        
        #customers tr:hover {
            background-color: #ddd;
        }
        
        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            position: -webkit-sticky;
            /* Safari */
            position: sticky;
            top: 0;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #111;
        }
        
        .active {
            background-color: #4CAF50;
        }
        
        .show {
            display: block !important;
        }
        
        .form-add {
            display: none;
        }
        
        .click {
            cursor: pointer;
        }
        
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            padding: 10px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }
        
        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
        
        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
        
        .button:hover span {
            padding-right: 25px;
        }
        
        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>
    <script>
        function toggleForm() {
            document.getElementById("form-add").classList.toggle("show");
        }

        function request(url, method, data, options = {}) {
            const {
                blob = false
            } = options;
            return new Promise(async(resolve, reject) => {
                try {
                    const res = await fetch(url, {
                            method,
                            body: data
                        })
                        .then(async response => {
                            if (response.ok) {
                                if (blob) {
                                    return await response.blob();
                                } else {
                                    return await response.json();
                                }
                            } else {
                                const rs = await response.json();
                                const message = rs.message;
                                throw new Error(message);
                            }
                        })
                        .then(response => resolve(response))
                        .catch(err => {
                            reject(err.message);
                        })
                } catch (error) {
                    reject(error.message);
                }
            })
        }
        async function uploadVersion(e) {
            try {
                const formData = new FormData();
                const files = document.getElementById("attachment").files[0];
                formData.append("attachment", files);
                formData.append("nameVersion", document.getElementById("nameVersion").value);
                formData.append("description", document.getElementById("description").value);
                formData.append("version", document.getElementById("version").value);
                formData.append("producer", "bkav");
                const application = document.getElementById("application").value;
                if (application === 'onion') {
                    const response = await request('/update-center/onion/upload', 'POST', formData);
                    alert('Thêm thành công!');
                }
                if (application === 'grafana') {
                    const response = await request('/update-center/grafana/upload', 'POST', formData);
                    alert('Thêm thành công!');
                }

                location.reload();
            } catch (error) {
                alert(error.message || error);
            }
        }

        async function deleteVersion(id, type) {
            if (confirm("bạn thực sự muốn xóa?")) {
                try {
                    if (type === 'onion') {
                        const result = await request('/update-center/onion/' + id, 'delete');
                        alert("xóa thành công");
                    }
                    if (type === 'grafana') {
                        const result = await request('/update-center/grafana/' + id, 'delete');
                        alert("xóa thành công");
                    }

                    location.reload();
                } catch (error) {
                    alert(error.message || error);
                }
            }
        }
        async function downloadVersion(id, type, name) {
            var result = null;
            try {
                if (type === 'onion') {
                    result = await request('/update-center/onion/' + id, 'PATCH', null, {
                        blob: true
                    });

                }
                if (type === 'grafana') {
                    result = await request('/update-center/grafana/' + id, 'PATCH', null, {
                        blob: true
                    });
                }
                var url = window.URL.createObjectURL(result);
                var a = document.createElement('a');
                a.href = url;
                a.download = name + ".zip";
                document.body.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
                a.click();
                a.remove()
                    // location.reload();
            } catch (error) {
                alert(error.message || error);
            }
        }
    </script>
</head>

<body>
    <ul>
        <li><a class="active" href="/update-center/views/app">Application</a></li>
        <li><a href="/update-center/views/rule">Rule</a></li>
    </ul>
    <main style="padding:0px 50px">
        <h1 style="display: flex; justify-content: space-between;">
            <button class="button" style="vertical-align:middle" type="button" onclick="toggleForm()"><span>Add Version </span></button>
        </h1>
        <div class="form-add" id="form-add">
            <label>Tên phiên bản:</label>
            <input type="text" name="nameVersion" id="nameVersion" placeholder="tên phiên bản" />
            </br>
            <label>Source:</label>
            <input type="file" name="attachment" id="attachment" accept=".zip" />
            </br>
            <label>Mô tả:</label>
            <input type="text" placeholder="mô tả" id="description" name="description" />
            </br>
            <label>Số phiên bản:</label>
            <input type="number" name="version" id="version" step="0.1" min="1" placeholder="số phiên bản">
            </br>
            <!-- <label>Nhà cung cấp:</label>
            <select name="producer" id="producer">
            <option value="bkav">bkav</option>
            <option value="custom">custom</option>
          </select> -->
            </br>
            <label>Loại ứng dụng:</label>
            <select name="application" id="application">
            <option value="onion">onion</option>
            <option value="grafana">grafana</option>
          </select>
            </br>
            <button class="button" style="vertical-align:middle" type="submit" onclick="uploadVersion()"><span>Upload version </span></button>
        </div>
        <table id="customers">
            <tr>
                <th>Version Name</th>
                <th>Version</th>
                <th>Size</th>
                <th>File Type</th>
                <th>Description</th>
                <th>Application</th>
                <th>Producer</th>
                <th>Action</th>
            </tr>
            <% versions.forEach(function(item) {%>
                <tr>
                    <td>
                        <%= item.nameVersion %>
                    </td>
                    <td>
                        <%= item.version %>
                    </td>
                    <td>
                        <%= item.size %>
                    </td>
                    <td>
                        <%= item.fileType %>
                    </td>
                    <td>
                        <%= item.description %>
                    </td>
                    <td>
                        <%= item.type %>
                    </td>
                    <td>
                        <%= item.producer %>
                    </td>
                    <td>
                        <span class="click" onclick="deleteVersion('<%= item.id %>','<%= item.type %>')">Delete</span>
                        <span class="click" onclick="downloadVersion('<%= item.id %>','<%= item.type %>', '<%= item.nameVersion%>')">Download</span>
                    </td>
                </tr>
                <% }); %>
        </table>
    </main>
</body>

</html>